@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');
*
{
    margin: 0px;
    background-color:rgba(248, 215, 248, 0.901);
    padding: 0%;
}
.nav
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.elements
{
    text-decoration: none;
    font-size: 17px;
    color: gray;
    margin-right: 8px;
    font-family: 'Rationale', sans-serif;

}
.elements:hover
{
    text-decoration: underline;
}

.main
{
    display: grid;
    grid-template-columns:  1fr 1fr;
}
.main
{
    margin-top:80px
}
.image
{
    width: auto;
}
.img{
    border-radius: 350px;
    float: right;
    margin-right:80px;
    box-shadow: 2px 2px 2px black ;
    width:250px;
}
.content_title
{
    font-size: 100px;
    margin-bottom: 90px;
    font-family: 'Rationale', sans-serif;
}
.content_parag
{
    color: gray;
    font-family: 'Rationale', sans-serif;
    text-align: justify;
}
.contaniers
{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.content
{
    width:700px;
    height: auto;
}
.cont
{
    width: 130px;
    height: 130px;
    padding: 30px;
    margin-right: 20px;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    font-family: 'Strait', sans-serif;
}
.nav_heading
{
    font-family: 'Rationale', sans-serif;
}
.footer
{
    background-color: #BD9594;
    width: 100%;
    text-align: center;
    font-family: 'Rationale', sans-serif;
    text-transform: capitalize;
    padding: 10px;
}
@media (max-width: 1200px)
{
    .main
    {
        display: flex;
        flex-direction: column;
    }
    .image
    {
        display: flex;
        justify-content: center;
       
    }
    .img{
        margin:0px;
    }
    .nav
    {
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        justify-content: space-between;
        margin: 0%;
        width: auto;
    }
    .content
    {
        width: auto;
        height: auto;
        
    }
    .content_title
    {
        padding:10px;
    }
    .content_parag
    {
        padding:10px;
    }
    .contaniers
    {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px) { 
    .main
    {
        display: flex;
        flex-direction: column;
    }
    .image
    {
        display: flex;
        justify-content: center;
       
    }
    .img{
        margin:0px;
    }
    .nav
    {
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
    }
    .content
    {
        width:500px;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        width:auto;
    }
    .content_title
    {
        padding:10px;
    }
    .content_parag
    {
        padding:10px;
    }
 }
 @media (max-width: 576px) { 
    .main
    {
        display: flex;
        flex-direction: column;
    }
    .image
    {
        display: flex;
        justify-content: center;
       
    }
    .img{
        margin:0px;
        margin-bottom: 30px;
    }
    .nav_heading
    {
        padding-left: 15px;
    }
    .nav
    {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .content
    {
        width:500px;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        width:auto;
    }
    .content_title
    {
        padding:10px;
    }
    .content_parag
    {
        padding:10px;
    }
    .contaniers
    {
        display: flex;
        flex-direction: column;
        
    }
    .cont
    {
        margin-bottom: 15px;
        margin-left: 20%;
        margin-right: 20%;
        width: auto;
    }

  }
  @media (max-width: 412px) { 
    .nav
    {
        display: flex;
        justify-content: center;
    }
  }